<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @card do |f| %>
      <%= f.label :firstname, "First Name: " %>
      <%= f.text_field :firstname, placeholder: 'First name', class:'form-control' %>

      <%= f.label :lastname, "Last Name: " %>
      <%= f.text_field :lastname, placeholder: 'Last name', class:'form-control' %>

      <%= f.submit "Save Card", class:'btn btn-success' %>
    <% end %>
  </div>
</div>