<% provide(:title, 'All cards') %>
<%= link_to "",new_card_path, class: 'btn btn-success pull-left card-btn glyphicon glyphicon-plus' %>
<div class="card_list">
  <% @cards.each do |card| %>
    <div class="card card-block">
      <%= link_to '', card, class: "pull-right glyphicon glyphicon-remove", method: :delete %>
	    <%= link_to '', edit_card_path(card.id), class: "pull-right glyphicon glyphicon-pencil" %>
	    <%= image_tag card.card_photo.url(:thumb), class: "pull-left" %>
	    <br>
	    <h4 class="card-title pull-right">First name: <%= card.firstname %> <br>Last name: <%= card.lastname %></h4>
	    <% if card.fields.any? %>
	      <% card.fields.each do |field| %>
	        <h4 class="dynamic pull-right"><%=field.name%>: <%=field.description%></h4>
	      <% end %>
	    <% end %>
	  </div>
  <% end %>
</div>