<% provide(:title, 'All cards') %>
<%= link_to "",new_card_path, class: 'btn btn-success pull-left card-btn glyphicon glyphicon-plus' %>
<div class='pull-right search'>
	<%= form_for cards_path, method: :get do |f| %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Go", name: nil %>
	  </p>
	<% end %>
</div>
<br>
<div class="card_list">
  <% @cards.each do |card| %>
    <div class="card card-block">
      <span class="pull-right"><%= link_to 'Edit', controller: "cards", action: "edit", id: card.id %> : <%= link_to 'Delete', card_path(card.id), method: :delete %>
	    </span>
	      <%= image_tag card.card_photo, class: "pull-left" %>
	    <br>
	    <h4 class="card-title pull-right">First name: <%= card.firstname %> <br>Last name: <%= card.lastname %></h4>
	    <% if card.fields.any? %>
	      <% card.fields.each do |field| %>
	        <h4 class="dynamic pull-right"><%=field.name%>: <%=field.description%></h4>
	      <% end %>
	    <% end %>
	  </div>
  <% end %>
</div>
